* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

#buttonDiv {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.info-user {
    margin-top: 20px;
    display: none;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.info-user p {
    margin-bottom: 10px;
}

.info-user img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 20px;
}
